torch
numba
numpy
pandas
scipy
torchvision
scikit-learn
# Image Processing
matplotlib
seaborn
pillow
# Progress Bars for training
tqdm
# HuggingFace:
transformers[torch]
datasets
accelerate
# QLoRA
bitsandbytes
# Tensor reshaping
einops
# Unit testing
pytest
